<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www/thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header::head">
</head>
<body>
<header th:replace="fragments/header::menu"></header>
<div class="container mt-4">
    <h1 class="h1"> Lista studentów </h1>
    <div class="card mt-4">
        <div class="card-body">
            <a class="btn btn-outline-primary btn-sm" th:href="@{/admin/student/dodaj}">Dodaj nowego studenta</a>
        </div>
    </div>
    <div class="card mt-4">
        <div class="card-body">
            <table class="table table-hover">
                <tr>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>Email</th>
                    <th>Numer telefonu</th>
                    <th>Lista kursów</th>
                    <th width="15%">Zmiana danych</th>
                </tr>
                <tr th:each="student: ${studentlist}">
                    <td th:text="${student.firstName}"></td>
                    <td th:text="${student.lastName}"></td>
                    <td th:text="${student.email}"></td>
                    <td th:text="${student.phoneNumber}"></td>
                    <td>
                        <ul>
                            <li th:each="course: ${student.courses}"
                                th:text="${course.name} + ' - ' + ${course.mode}"></li>
                        </ul>
                    </td>
                    <td><a th:href="@{/admin/student/edytuj(id=${student.id})}" class="btn btn-outline-success btn-sm">edytuj</a>
                        <a th:href="@{/admin/student/usun(id=${student.id})}"
                           class="btn btn-outline-danger btn-sm">usuń</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>