<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www/thymeleaf.org">
<head th:replace="fragments/header::head">
</head>
<body>
<header th:replace="fragments/header::menu"></header>
<div class="row d-flex mt-4 justify-content-center">
    <div class="col-md-6">
        <h1 class="h1"> Dodaj nowego trenera </h1>
        <div class="card mt-4" style="width: 50rem;">
            <div class="card-body">
                <form th:action="@{/admin/trener/lista}" method="post" th:object="${user}">
                    <div class="form-row">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Imię" name="firstName"
                                   th:field="*{firstName}">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Nazwisko" name="lastName"
                                   th:field="*{lastName}">
                        </div>
                    </div>
                    <div class="form-row mt-4">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Email" name="email"
                                   th:field="*{email}">
                        </div>
                        <div class="col">
                            <input type="password" class="form-control" placeholder="Password" name="password"
                                   th:field="*{password}">
                        </div>
<!--                    <div th:unless="*{id}">-->
                    <!--                        <div>-->
                    <!--                            <label for="pId">Hasło</label>-->
                    <!--                            <input type="hidden" name="password" id="pId" th:field="*{password}">-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                        <div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Numer telefonu" name="phoneNumber"
                                       th:field="*{phoneNumber}">
                            </div>
                        </div>
                    </div>
                        <div class="form-group mt-4">
                            <p class="text">Wybierz kurs:</p>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <p th:each="course: ${courselist}">
                                        <input type="checkbox" th:field="*{courses}" th:value="${course.id}">
                                        <span th:text="${course.name} + ' - ' + ${course.mode}"></span>
                                    </p>
                                </label>
                            </div>
                        </div>
                        <input type="hidden" th:field="*{id}">
                        <button type="submit" class="btn btn-primary btn-sm">Zapisz</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>