<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www/thymeleaf.org">
<head th:replace="fragments/header::head">
</head>
<body>
<header th:replace="fragments/header::menu"></header>
<div class="container mt-4">
    <h1 class="h1"> Lista trenerów </h1>
    <div class="card mt-4">
        <div class="card-body">
            <a class="btn btn-outline-primary btn-sm" th:href="@{/admin/trener/dodaj}">Dodaj nowego trenera</a>
        </div>
    </div>
    <div class="card mt-4">
        <div class="card-body">
            <table class="table table-hover">
                <tr>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>Email</th>
                    <th>Numer telefonu</th>
                    <th>Lista kursów</th>
                    <th width="15%">Zmiana danych</th>
                </tr>
                <tr th:each="trainer:${trainerlist}">
                    <td th:text="${trainer.firstName}"></td>
                    <td th:text="${trainer.lastName}"></td>
                    <td th:text="${trainer.email}"></td>
                    <td th:text="${trainer.phoneNumber}"></td>
                    <td>
                        <ul>
                            <li th:each="course: ${trainer.courses}"
                                th:text="${course.name} + ' - ' + ${course.mode}"></li>
                        </ul>
                    </td>
                    <td><a th:href="@{/admin/trener/edytuj(id=${trainer.id})}"
                           class="btn btn-outline-success btn-sm">edytuj</a>
                        <a th:href="@{/admin/trener/usun(id=${trainer.id})}"
                           class="btn btn-outline-danger btn-sm">usuń</a>
                    </td>
                </tr>
            </table>
        </div>
</body>
</html>