<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www/thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header::head">
</head>
<body>
<header th:replace="fragments/header::menu"></header>

<div class="row d-flex mt-4 justify-content-center">
    <div>
        <h1 class="h1"> Rejestracja na kurs </h1>
        <div class="card mt-4" style="width: 50rem;">
            <div class="card-body">
                <form th:action="@{/rejestracja/podsumowanie}" method="post" th:object="${user}">
                    <div class="form-row">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Imię" name="firstName"
                                   th:field="*{firstName}"
                                   th:classappend="${#fields.hasErrors('firstName')}?'error-input'">
                            <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="error"></p>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Nazwisko" name="lastName"
                                   th:field="*{lastName}"
                                   th:classappend="${#fields.hasErrors('firstName')}?'error-input'">
                            <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="error"></p>
                        </div>
                    </div>
                    <div class="form-row mt-4">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Email" name="email" th:field="*{email}"
                                   required
                                   th:classappend="${#fields.hasErrors('firstName')}?'error-input'">
                            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></p>
                        </div>
                        <div class="col">
                            <input type="password" class="form-control" placeholder="Password" name="password"
                                   th:field="*{password}" required>
                        </div>
                        <div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Numer telefonu" name="phoneNumber"
                                       th:field="*{phoneNumber}">
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-4">
                        <p class="text">Wybierz kurs:</p>
                        <span th:if="${#fields.hasErrors('courses')}" th:errors="*{courses}" class="error"></span>
                        <div class="form-check">
                            <label class="form-check-label">
                                <p th:each="course: ${courselist}">
                                    <input type="checkbox" th:field="*{courses}" th:value="${course.id}">
                                    <span th:text="${course.name} + ' - ' + ${course.mode}"></span>
                                </p>
                            </label>
                        </div>
                    </div>
                    <input type="hidden" th:field="*{id}">
                    <button type="submit" class="btn btn-primary btn-sm">Rejestruj</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>