<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www/thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header::head">
</head>
<body>
<header th:replace="fragments/header::menu"></header>
<div class="row d-flex mt-4 justify-content-center">
    <div class="col-md-6">
        <h1 class="h1"> Rejestracja - podsumowanie </h1>
        <div class="card mt-4" style="width: 40rem;">
            <div class="card-body">
                <div>
                    <p>Zarejestrowano nowego studenta:</p>
                </div>
                <table class="table">
                    <tr>
                        <th>Imię</th>
                        <td th:text="${user.firstName}"></td>
                    </tr>
                    <tr>
                        <th>Nazwisko</th>
                        <td th:text="${user.lastName}"></td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td th:text="${user.email}"></td>
                    </tr>
                    <tr>
                        <th>Numer telefonu</th>
                        <td th:text="${user.phoneNumber}"></td>
                    </tr>
                    <tr>
                        <th>Lista kursów</th>
                        <td>
                            <ul>
                                <li th:each="course: ${user.courses}"
                                    th:text="${course.name} + ' - ' + ${course.mode}"></li>
                            </ul>
                        </td>
                    </tr>
                </table>
                <div>
                    <a sec:authorize="!isAuthenticated()" th:href="@{/login}" class="btn btn-primary btn btn-sm">Zaloguj
                        się</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>