<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www/thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header::head">
</head>
<body>
<header th:replace="fragments/header::menu"></header>
<div class="container mt-4">
    <h1>Lista kursów</h1>
    <div class="card mt-4">
        <div class="card-body">
            <a class="btn btn-outline-primary btn-sm" th:href="@{/admin/course/add}">Dodaj nowy kurs</a>
        </div>
    </div>
    <div class="card mt-4">
        <div class="card-body">
            <table class="table table-hover">
                <tr>
                    <th>Nazwa kursu</th>
                    <th>Data rozpoczęcia</th>
                    <th>Data zakończenia</th>
                    <th>Tryb kursu</th>
                    <th>Cena</th>
                    <th width="15%">Zmiana danych</th>
                </tr>
                <tr th:each="course: ${courselist}">
                    <td th:text="${course.name}"></td>
                    <td th:text="${course.dateStart}"></td>
                    <td th:text="${course.dateEnd}"></td>
                    <td th:text="${course.mode}"></td>
                    <td th:text="${course.price}"></td>
                    <td>
                        <a th:href="@{/admin/course/edit(id=${course.id})}" class="btn btn-outline-success btn-sm">edytuj</a>
                        <a th:href="@{/admin/course/delete(id=${course.id})}" class="btn btn-outline-danger btn-sm">usuń</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</div>
</body>
</html>