<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www/thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header::head">
</head>
<body>
<header th:replace="fragments/header::menu"></header>
<div class="row d-flex mt-4 justify-content-center">
    <div th:object="${user}">
        <h1 class="h1" sec:authorize="hasAuthority('admin')"> Panel administratora </h1>
        <h1 class="h1" sec:authorize="hasAuthority('student')"> Panel studenta - <span
                th:text="*{firstName} + ' ' + *{lastName}"> </span></h1>
        <h1 class="h1" sec:authorize="hasAuthority('trainer')"> Panel trenera - <span
                th:text="*{firstName} + ' ' + *{lastName}"> </span></h1>
        <div class="card mt-4" style="width: 50rem;" sec:authorize="!hasAuthority('admin')">
            <div class="card-body">
                <h3 class="h3"> Twoje kursy: </h3>
                <table class="table table-hover">
                    <tr>
                        <th>Nazwa</th>
                        <th>Data rozpoczęcia</th>
                        <th>Data zakończenia</th>
                        <th>Tryb</th>
                    </tr>
                    <tr th:each="course: ${user.courses}">
                        <td th:text="${course.name}"></td>
                        <td th:text="${course.dateStart}"></td>
                        <td th:text="${course.dateEnd}"></td>
                        <td th:text="${course.mode}"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>