<head th:fragment="head">
    <title>Szkoła programowania</title>

    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<div th:fragment="menu">
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: mintcream;">
    <a class="navbar-brand" href="#">Szkoła programowania</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active" sec:authorize="hasAuthority('admin')">
                <a class="nav-link" th:href="@{/admin/course/list}">Kursy
                    <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active" sec:authorize="hasAuthority('admin')">
                <a class="nav-link" th:href="@{/admin/student/lista}">Studenci</a>
            </li>
            <li class="nav-item active" sec:authorize="hasAuthority('admin')">
                <a class="nav-link" th:href="@{/admin/trener/lista}">Trenerzy</a>
            </li>
        </ul>
        <div class="class-inline my-2 my-lg-0">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active" sec:authorize="hasAuthority('admin')">
                    <a sec:authorize="!isAuthenticated()" class="nav-link" th:href="@{/login/student}">Zaloguj się</a>
                </li>
                <li>
                    <a sec:authorize="isAuthenticated()" class="nav-link" th:href="@{/logout}">Wyloguj</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</div>
