<!DOCTYPE html>

<html lang="en"
      xmlns:th="http://www/thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header::head">
</head>
<body>
<header th:replace="fragments/header::menu"></header>
<div class="row d-flex mt-4 justify-content-center">
    <div class="card mt-4 text-center" style="width: 40rem;">
        <div class="card-body mt-4">
            <h1 class="card-title">Szkoła programowania</h1>
            <p sec:authorize="!hasAuthority('admin')" class="card-text">Miło nam, że nas odwiedzasz.</p>
            <a sec:authorize="!isAuthenticated()"
               th:href="@{/rejestracja}" class="btn btn-primary btn btn-sm">Zarejestruj się</a>
            <a sec:authorize="!isAuthenticated()"
               th:href="@{/login}" class="btn btn-primary btn btn-sm">Zaloguj się</a>
        </div>
    </div>
</div>
</body>
</html>